# Feature scaling

### Normalization

Get values between [0;1]

X' = X - Xmin / Xmax - Xmin

In [ ]:
import pandas as pd

data = {
    'Salary': [70000, 60000, 52000],
    'Age': [45, 44, 40]
}

df = pd.DataFrame(data)

salary_min = df["Salary"].min()
salary_max = df["Salary"].max()

age_min = df["Age"].min()
age_max = df["Age"].max()

df["Salary"] = (df["Salary"] - salary_min) / (salary_max - salary_min)
df["Age"] = (df["Age"] - age_min) / (age_max - age_min)
df.head()

print("The Salary and age  0 y 1 are more similars")

     Salary  Age
0  1.000000  1.0
1  0.444444  0.8
2  0.000000  0.0

### Standarization

Get values between [-3;3]


z = (x - μ) / σ

z es el valor estandarizado,

x es el valor original,

μ (mu) es la media de la población o muestra,

σ (sigma) es la desviación estándar.